name: DevSecOps Security Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar dependências
        run: npm install

      - name: SAST com Semgrep
        uses: returntocorp/semgrep-action@v1

      - name: Scan de dependências (npm audit)
        run: npm audit --audit-level=high

      - name: Build da imagem Docker
        run: docker build -t secure-api .

      - name: Scan de imagem Docker com Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: secure-api
          severity: CRITICAL,HIGH
          exit-code: 1
