name: DevSecOps Secure Pipeline
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
permissions:
  contents: read
  security-events: write
jobs:
  security-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Move files to root
        run: |
          echo "Organizando arquivos para o pipeline..."
          # Encontra e move o package.json de qualquer pasta 'workflows' para a raiz
          find .github -name "package.json" -exec mv {} . \;
          # Encontra e move o index.js de qualquer pasta 'workflows' para a raiz
          find .github -name "index.js" -exec mv {} . \;
          # Encontra e move o Dockerfile de qualquer pasta 'workflows' para a raiz
          find .github -name "Dockerfile" -exec mv {} . \;
          echo "Arquivos na raiz após organização:"
          ls -F

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run security audit
        run: npm audit --audit-level=high

      - name: Build Docker image
        run: docker build -t secure-api .

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@0.19.0
        with:
          image-ref: secure-api
          severity: CRITICAL,HIGH
          exit-code: 1
